# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
       - image: circleci/ruby:2.4.1

    working_directory: ~/sunomono

    steps:
      - checkout
      - run:
          name: install dependencies
          command:
            gem install bundler
          command:
            bundle install
      # run tests!
      - run:
          name: run tests
          command:
            bundle exec rake spec