class <%= config[:name] %>Screen < BaseScreen
  # <%= I18n.translate 'comments.trait' %>
  # trait(:trait)                 { pending 'Element type', 'identificator', 'options' }

  # <%= I18n.translate 'comments.elements' %>
  # element(:layout_name)         { pending 'Element type', 'identificator', 'options' }
  # element(:button)              { pending 'Element type', 'identificator', 'options' }

end
