class <%= config[:name] %>Screen < BaseScreen

# <%= I18n.translate 'comments.elements' %>
  # identificator(:trait)               { pending 'Insert button identificator' }
  # identificator(:button)              { pending 'Insert button identificator' }
end
