class <%= config[:name] %>Screen < <%= config[:platform] %>ScreenBase

  # The screen identificator
  #trait(:trait)                 { "* marked:'#{layout_name}'" }

  # Declare all the elements of this screen
  #element(:layout_name)         {'insert_layout_identificator'}
  #element(:button)              {'insert_button_identificator'}

  # Declare all actions of this screen
  # action(:touch_button) {
  #   touch("* marked:'#{button}'")
  # }

end